.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;

  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: fixed;
  left: 20px;
  width: 80px;
  object-fit: contain;
}

.nav__avatar {
  position: fixed;
  right: 20px;
  width: 70px;
  object-fit: contain;
  background-color: rgba(red, green, blue, alpha);
  cursor: pointer;
  color: teal;
  outline: none;
  border: none;
}

.nav__avatar:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}
